{% extends "layout_2_col.html" %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load category_tags %}
{% load extra_tags %}
{% load i18n %}

{%  purchase_info_for_product request productcategory.product %}

<div class="navbar primary navbar-static-top navbar-inverse">
    <div class="navbar-inner">

        <a class="btn btn-navbar" data-toggle="collapse" data-target=".primary-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <a class="btn btn-navbar btn-cart visible-phone" href="{% url 'checkout:index' %}">
            <i class="icon-shopping-cart"></i>
			<strong>{% trans "Basket" %}
            {% if request.basket.all_lines.count %}
			{% trans "Total:" %} {{ basket.total_incl_tax|currency }}
            {% endif %}
            </strong>
        </a>

        <div class="nav-collapse primary-collapse">
            <div id="browse" class="dropdown pull-left {% if expand_dropdown %}open{% endif %}">
                <button class="btn btn-primary dropdown-toggle hidden-phone" {% if not expand_dropdown %}data-toggle="dropdown"{% endif %}>
                    {% trans "Browse Store" %}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a tabindex="-1" href="{% url 'catalogue:index' %}">{% trans "All Products" %}</a></li>
                    <li class="divider"></li>
                    {% for category in categories %}
                    <li class="dropdown-submenu">
                        <a tabindex="-1" href="{{ category.0.get_absolute_url }}">{{ category.0.name }} {% if category.1 %}{% endif %}</a>
                        {% if category.1 %}
                        <ul class="dropdown-menu">
                        {% for subcategory in category.1 %}
                            <li><a tabindex="-1" href="{{ subcategory.0.get_absolute_url }}"> {{ subcategory.0.name }}</a></li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% include "partials/search.html" %}
        </div><!-- /.nav-collapse -->

    </div><!-- /navbar-inner -->
</div><!-- /navbar -->
{% block content %}
{% for category in products_categories %}
<div class="row">
    <span id="category">{{ productcategory.category.name }}</span>
    {% for productcategory in category %}
    {%  purchase_info_for_product request productcategory.product as session %}
    <div class="col-xs-12 col-md-3 col-lg-4">
        <a class="col-xs-12 col-sm-4 col-md-3" href="{{ productcategory.product.get_absolute_url }}">
            <div class="items-container row">
                <div class="col-xs-12 col-sm-12 owl-images" style="background-image: url('media/{{ productcategory.product| toimage }}'); ">
                    <h4>{{ productcategory.product }}<span>{% if session.price.is_tax_known %}
                            Price is {{ session.price.incl_tax|currency:session.price.currency }}
                        {% else %}
                            Price is {{ session.price.excl_tax|currency:session.price.currency }} +
                            tax
                        {% endif %}</span></h4>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 inner-owl" >
                    <p>{{ productcategory.product.description |slice:":150"}}...</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
<div>
{% endfor %}
{% endblock content %}