{% extends "home.html" %}
{% load extra_tags %}
{% block content_wrapper %}
<div class="card-panel"><h5 class=""><span class="red-text text-accent-1">{{ partner_details.name }}</span></h5></div>
<div class="card-panel red accent-1"><span class="white-text">Addresses</span></div>
{% for address in addresses %}
<div class="card-panel">
    <p >{{ address }}</p>
</div>
{% endfor %}
<div class="card-panel red accent-1"><span class="white-text">Stock Records</span></div>
<ul class="collection">
{% for stockrecord in stockrecords %}
<li class="collection-item avatar">
    <img src="/media/{{ stockrecord.product | toimage }}" alt="" class="circle">
    <span class="title">{{ stockrecord.product.title }}</span>
    <p>{{ stockrecord.product.description }} </p>
    <a href="{{ stockrecord.product.get_absolute_url }}" class="secondary-content"><i class="material-icons">send</i></a>
</li>
{% endfor %}
</ul>
{% endblock %}